<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- angular -->
    <script src="Scripts/angular.js "></script>
    <script src="Scripts/angular-resource.js "></script>

    <!--flot-->
    <script src="flot/jquery.min.js"></script>
    <script src="flot/jquery.flot.js"></script>
    <script src="flot/excanvas.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="Scripts/module.js"></script>
    <script src="Scripts/factories.js"></script>
    <script src="Scripts/controllers.js"></script>
</head>
<body>
<div ng-app='App'>
    <div ng-controller='Ctrl'>
        <p><button ng-click='change()'>Change Data</button></p>
        <chart ng-model='data'> </chart>
    </div>
</div>
</body>
</html>