<!DOCTYPE html>
<html ng-app="intel">
<head>
    <title>Intel Trader</title>

    <!-- angular -->
    <script src="Scripts/angular.js "></script>
    <script src="Scripts/angular-resource.js "></script>

    <!-- page specific plugin scripts -->
    <script src="Scripts/module.js"></script>
    <script src="Scripts/factories.js"></script>
    <script src="Scripts/controllers.js"></script>

</head>
<body ng-controller="MainController">
Symbol Name: <input type="text" ng-model="input" placeholder="enter symbol name">
<button ng-click="load()">Load</button>
{{instrumentData.symbolName}}


</body>
</html>