<!DOCTYPE html>
<html ng-app="trader">
<head>
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- angular -->
    <script src="Scripts/angular.js "></script>
    <script src="Scripts/angular-resource.js "></script>
    <!--flot-->

    <script src="flot/jquery.js"></script>
    <script src="flot/jquery.flot.js"></script>
    <script src="flot/jquery.flot.time.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>


    <!--Modules Controllers and Factories-->
    <script src="Scripts/part/module.js"></script>
</head>
<body ng-controller="cntrl1" ng-init="onPageLoad()">

<div class="container">
    <div class="navbar">
        <a class="navbar-brand" href="#">Intel Trader</a>
        <div id="date" class="pull-right">
            <ul class="list-inline">
                <li><h4>Today : {{ today }}</h4></li>
                <li><button data-toggle="modal" class="btn btn-primary btn-small" data-target="#setDate" >Set</button></li>
            </ul>


        </div>
    </div>
    <div class="container well ">
        <div class="col-lg-8">
            <div class="alert" ng-show="showPortAlert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please select portfolio first.
            </div>
            <h2 class="span3"><a ng-click="showPortfolio()">Portfolio  {{ selectedPortfolio.portfolioName }}</a></h2>
        </div>
        <div class="col-lg-2">
            <h4><label class="label">Select </label>  <select class="form-control   " ng-model="selectedPortfolioName"
                                           ng-options="portfolio for portfolio in portfolios.names"
                                           ng-change="loadPortfolio()"></select></h4>
        </div>
        <div class="col-lg-2"><br/>
            <button data-toggle="modal" class="btn btn-primary" data-target="#createPort" >Create</button>
        </div>

    </div>

    <div class=" panel" ng-show="boolInvestment">
        <div class="container panel-heading">
            <h2 class="panel-title col-lg-9">Investments</h2>
            <button data-toggle="modal" class="btn btn-primary col-lg-3" data-target="#addInvest" >Add Investment</button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Symbol Name</th>
                <th>Quantity</th>
                <th>CurrentPrice</th>
                <th>PnL</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="investment in selectedPortfolio.investmentList">
                <td><a ng-click="forInvestment(investment.symbolName)">{{ investment.symbolName }}</a></td>
                <td>{{ investment.quantity }}</td>
                <td>{{ investment.currentPrice.closePrice }}</td>
                <td>{{ investment.pnl }}</td>

                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="panel" ng-show="boolSymbol">
        <div class="container panel-heading">
            <h2 class="panel-title col-lg-9">Symbol : {{ selectedInvestment.symbolName }}</h2>
            <button class="btn btn-primary col-lg-3" ng-click="plotOrTransactionFn()">{{ plotOrTransaction }}</button>
        </div>
        <div id="chartContainer" ng-show="boolPlotOrTransaction">
            <div id="macdChart" style="width: 1000px;height:400px; text-align: center; margin:0 auto;">
            </div>
        </div>
        <div id="transactionView" ng-hide="boolPlotOrTransaction">
            <table class="table">
                <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in selectedInvestment.transactionList">
                    <td>{{ transaction.transactionDate }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.transactionPrice.closePrice }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div id="setDate"  class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Set Date</h4>
            </div>
            <div class="modal-body">
                <input type="text" ng-model="todayToSet" datepicker/></p>
                <label class="label">Roll </label><input type="checkbox" ng-model="setRoll">
                <div  class="alert alert-success" ng-show="boolSetDateRetSuccess">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong>
                </div>
                <div  class="alert alert-danger" ng-show="boolSetDateFailure">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Request Failed
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="setToday()" >Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="createPort"  class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Portfolio</h4>
            </div>
            <div class="modal-body">
                PortfolioName :<input type="text" ng-model="newPortfolioName">
                <div  class="alert alert-block" ng-show="boolNoStrategySelected">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Please Select a Strategy
                </div>
                <br>Strategy :
                <li ng-repeat="strategy in strategies.val">

                    <input id="{{ strategy.name }}" type="checkbox"
                           value="{{ strategy.name }}"
                           ng-model="strategy.checked"><label for="{{ strategy.name }}">{{ strategy.name }}</label>
                </li>
                <div  class="alert alert-success" ng-show="boolCreatePortRetSuccess">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong>
                </div>
                <div  class="alert alert-danger" ng-show="boolCreatePortRetFailure">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Request Failed
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createPortfolio()" >Create</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="addInvest"  class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Investments to {{ selectedPortfolio.portfolioName }}</h4>
            </div>
            <div class="modal-body">
                Enter Symbol Name :<input type="text" ng-model="symbolName">
                <div class="alert alert-success" ng-show="boolAddInvestRetSuccess">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong>
                </div>
                <div class="alert alert-danger" ng-show="boolAddInvestRetFailure">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error</strong> Request Failed
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addInvestment()" >Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
</body>
</html>