<!DOCTYPE html>
<html ng-app="trader">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- angular -->
    <script src="Scripts/angular.js "></script>
    <script src="Scripts/angular-resource.js "></script>
    <!--flot-->

    <script src="flot/jquery.js"></script>
    <script src="flot/jquery.flot.js"></script>
    <script src="flot/jquery.flot.time.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>


    <!--Modules Controllers and Factories-->
    <script src="Scripts/part/module.js"></script>
</head>
<body ng-controller="cntrl1" ng-init="onPageLoad()" >
<div id="dateSelect">

    <p>Set Today: <input type="text" ng-model="today" datepicker /></p>
    <label>Roll :<input type="checkbox" ng-model="setRoll"></label>
    <button ng-click="setToday()">Set</button>
</div>

<div id="portfolio">
    <div id="portfolioView">
        <a ng-click="showPortfolio()">Portfolio : {{ selectedPortfolio.portfolioName }}</a>
        <!-- <span>Strategy : {{ selectedPortfolio.strategy }}</span>-->
    </div>
    <span id="portfolioSelect">
        <label>Select Portfolio<select ng-model="selectedPortfolioName"
                                       ng-options="portfolio for portfolio in portfolios.names"
                                       ng-change="loadPortfolio()"></select></label>
    </span>

    <div id="portfolioCreate">
        <a ng-click="showAddPortfolio()">Create Portfolio</a>

        <div ng-show="boolAddPortfolio">
            PortfolioName :<input type="text" ng-model="newPortfolioName">
            <br>Strategy :
            <li ng-repeat="strategy in strategies.val">

                <input id="{{ strategy.name }}" type="checkbox"
                       value="{{ strategy.name }}"
                       ng-model="strategy.checked"><label for="{{ strategy.name }}">{{ strategy.name }}</label>
            </li>

            <button ng-click="createPortfolio()">Submit</button>
        </div>

    </div>
</div>
<div id="investment" ng-show="boolInvestment">
    <b>Investments :</b>

    <div id="addInvestment">
        <a ng-click="showAddInvestment()">Add Investment</a>

        <div ng-show="boolAddInvestment">
            Enter Symbol Name :<input type="text" ng-model="symbolName">
            <button ng-click="addInvestment()">Add</button>
        </div>
    </div>
    <div id="investmentView">
        <table>
            <thead>
            <tr>
                <th>Symbol Name</th>
                <th>Quantity</th>
                <th>CurrentPrice</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="investment in selectedPortfolio.investmentList">
                    <td><a ng-click="forInvestment(investment.symbolName)">{{ investment.symbolName }}</a></td>
                    <td>{{ investment.quantity }}</td>
                    <td>{{ investment.currentPrice.closePrice }}</td>

                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<div ng-show="boolSymbol">
    <b>Symbol : {{ selectedInvestment.symbolName }}</b>
    <button ng-click="plotOrTransactionFn()">{{ plotOrTransaction }}</button>
    <div id="chartContainer" ng-show="boolPlotOrTransaction">
        <div id="macdChart" style="width: 1000px;height:400px; text-align: center; margin:0 auto;">
        </div>
    </div>
    <div id="transactionView" ng-hide="boolPlotOrTransaction">
        <table>
            <thead>
            <tr><th>Transaction Date</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in selectedInvestment.transactionList">
            <td>{{ transaction.transactionDate }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.transactionPrice.closePrice }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>